
main {
  min-height: 80vh;
}
.addLine{
  border-bottom: 2px solid #2c3e50 !important ;
}
.centerMe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.logo{
  font-size:27px !important;
  transform: scale(.8, 1.6);
  font-weight:bold;
 margin-left: 25px;
 background-image: -webkit-image-set();
 font-family: Garamond, serif;
}
.abonnement{
  display: flex;
  margin-left: auto;
  margin-right: 25px;
  color: white;  
}
.abb{
  margin-right: 15px;
  color: white;  
}

.translateFr{
  background-image: url(../public/images/france.png);
  width: 17px;
  height: 17px;
  float: left;
margin-right: 3px;
margin-top: 4px;
}
.translateEn{
  background-image: url(../public/images/united-states-of-america.png);
  width: 17px;
  height: 17px;
  float: left;
margin-right: 3px;
margin-top: 4px;
}
.backReg{
  background-image: url(../public/images/pexels-photo-3944405.webp);

}
.ff1{
  text-transform: uppercase;
  text-align: center;
  color: black;
  
}
.borderme{
  border-bottom: 2px solid black;
  text-align: center;
  font-weight: bold;

  color: rgb(100, 100, 3);
}
.ff2{
text-transform: uppercase;
transform: translate(-50%, -50%);
  margin-top: 95px;
  text-align: center;
  font-weight: bold;
  font-size:27px !important;
  font-weight:bold;
  transform: scale(1, 1.6);
  color: black;
 line-height: 45px;
color: rgb(100, 100, 3);
}
.opc{
  background: linear-gradient(
    to right, 
   white 0%,
  gray 75%,
    rgba(0,0,0,0) 100%
 );
 opacity: 0.9;
 font-weight: bold;
 font-size: 17px;

}

.mrg{
  margin-top: 100px;
  margin-right: 20px;
 
}
.addLine{
  border-bottom: 2px solid #2c3e50 !important ;
}

/* Footer*/
*, *:before, *:after {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: #2c3e50;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: black;
  border-radius: 100px;
  color: white;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: red;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
/*End Footer*/



#ct{
  width: 600px;
   border:1px solid #f1c40f;
   margin: 20px auto;
   text-align:center;
   position:relative;
   color:black;
   padding:10px;}
#ct span{
  background:white;
  color:#f1c40f;
  padding:0 10px;
  font-size:20px;
  position:relative; 
  top:-28px;
}
@media only screen and (max-width: 768px) {
	#ct{
    width: 400px;
  }
}
@media only screen and (max-width: 440px) {
	#ct{
    width: 250px;
  }
}
@media only screen and (max-width: 290px) {
	#ct{
    width: 190px;
  }
}
.corner{height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid #fff;
  transform:rotate(-45deg);  
  position:absolute;
  background:white;
}

#left_top{
  top:-16px;
  left:-16px;
  border-color:transparent transparent #f1c40f transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-color:transparent transparent transparent #f1c40f;
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-color:transparent #f1c40f transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-color:#f1c40f transparent transparent transparent;
}



.myList{
  margin-top: 20px;
  padding: 0;
}
.myList li{
  font-weight: bold;
  list-style: none;
  padding: 10px;
  border:1px solid rgb(219, 214, 214);
  font-size: 17px;
  background-color: white;
 cursor: pointer;
}

.myList li:hover{
  background-color: rgb(219, 214, 214);
  transition: .3s;
  margin-left: 5px;
  
}

.comments{
  margin-top: 10px;
  height: 40px;
font-weight: bold;
border-bottom: 2px solid #2c3e50 ;
color: #2c3e50 ;
margin-left: 0 !important;
white-space: nowrap;
background-color: rgb(243, 243, 243);
}
.flexMe2{
  right: 0 ;
  position: absolute;
  color:  red !important;
  background: none !important;
  border: none !important;
  padding: 0px !important;
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 991px){
  
  .myCarousel,.titreNewstoday, .imageCarousel{
    height: 450px !important;
  }
.carousel-caption h2{
  font-size: 25px;
}

}

.carousel-caption h2{
  font-size: 30px;
  padding: 10px  !important;
}
.carousel-caption {
  color: white !important;
  background-color: #2c3e50;
  margin: auto;
  opacity: 0.7;
  border-radius: 50%;
 
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 992px) and (max-width: 1199px){
 
  .myCarousel, .imageCarousel{
    height: 390px !important;
  }

}
.imageCarousel{
  height: 450px !important;
  width: 750px !important;
  
}
.shop{
  background-color:  whitesmoke;
  margin: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-radius: 10px;
 display: flex;

}
.titleShop{
  margin: auto;
  font-weight: bold;
  color: #2c3e50;
}
.imgStore{
  background-image: url('../public//images/store.png');
  background-size: cover;
  width: 65px;
  height: 65px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;

}

.textStore{
  text-align: center;
 flex-grow: 3;
 color: black ;
}
.shopList{
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto  ;
}

.shopList::-webkit-scrollbar {
  width: 7px;
  background-color:white ;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #d9e3f1;
  border-radius: 10px;
}
.shopList::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 10px;
}
.productCont {
  position: relative;
}
.deleteProductBtn{
  position: absolute;
  color:  red !important;
  background: none !important;
  border: none !important;
  padding: 0px !important;
  top: 20px;
  right: 20px;
  z-index: 100;
  font-size: 19px !important;
}
.editProductBtn{
  position: absolute;
  color:  green !important;
  background: none !important;
  border: none !important;
  padding: 0px !important;
  top: 20px;
  right: 45px;
  z-index: 100;
  font-size: 19px !important;
}

.styleBtn{
 
  background: none !important;
  border: none !important;
  padding: 0px !important;
  font-size: 17px !important
}
.OneLine{

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
}
.imageProduct{
  height: 208px !important;
}

.aa{
  margin-left: 5px;
}

.myDivSearch{
  margin-top: 35px;
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}
.hh{
  flex-grow: 0.9999;
}
.myInputSearch{
  display: flex;
  margin-left: auto;
}
.bottomMe{
  top: 20%;
  left: 0;
  position: relative;
border: 1px solid #2c3e50;
border-radius: 20%;
}